<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/style.css">
        <script src="https://js.sentry-cdn.com/cb71e278c26df8fcffc7a98584e167de.min.js" crossorigin="anonymous"></script>
        <script>
            Sentry.onLoad(function () {
                Sentry.init({
                    tracesSampleRate: 1.0,
                    replaysSessionSampleRate: 0.1,
                    replaysOnErrorSampleRate: 1.0,
                    integrations: [
                        new Sentry.BrowserProfilingIntegration(),
                        new Sentry.BrowserTracing()
                    ],
                    beforeSend(event, hint) {
                        if (event.exception && event.event_id) {
                            Sentry.showReportDialog({eventId: event.event_id});
                        }
                        return event;
                    }
                })
            });
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>