{% extends "base.njk" %}

{% block body %}
<h1>Welcome to pass.obl.ong</h1>
<p>You can now add your obl.ong membership card to Google Wallet or Apple Wallet.</p>

<a href="/auth"><img src="/oosignin.svg"></a>

{% endblock %}
